.navbar-inverse {
    background-color: #FFF;
    border-color: #CCC;
}
.menu-lw-logo {
    float: left;
    width: 171px;
    height: 34px;
    margin-top: 6px;
    background: url(https://www.locaweb.com.br/templates/site-novo-2015/images/locaweb-header-oficial.png?v=1.4.98) center no-repeat;
    background-size: contain;
    margin-right: 31px;
}
.menu-lw-logo span {
    display: none;
}
.nav.navbar-nav li a {
   color: #000;
 }

.nav.navbar-nav a:hover {
 color: grey;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #CCC;
}