<div class="container alternative_cls" *ngFor="let user of users">
  <h4>
    <small><strong>Tweet by:</strong></small>
    <p class="blockquote-footer" > <strong>{{user.screen_name}}</strong></p>
  </h4>
  <table class="table table-striped table-hover">   
    <thead>
      <tr>
        <th>Usuário</th>
        <th>Seguidores</th>
        <th>Retweet</th>
        <th>Curtidas</th>
        <th>Publicado</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tweet of user.tweets">
        <td><a target="_blank" href="{{tweet.user_url}}">{{tweet.screen_name}}</a></td>
        <td>{{tweet.followers_count}}</td>
        <td>{{tweet.retweet_count}}</td>
        <td>{{tweet.favourites_count}}</td>
        <td><a target="_blank" href="{{tweet.tweet_url}}">{{tweet.created_at|date:'yMMMdjms'}}</a></td>
    </tr>
    </tbody>
  </table>
  
  <div *ngFor="let tweet of user.tweets">
    <h4><small><strong> Texto </strong></small></h4>
    <pre class="white-bg">{{tweet.text}} </pre>
  </div>
<br>
<hr class="style1">
</div>
